.container {
  display: flex;
  justify-content: center;
  background-color: #F8EDED;
}

h1, h2 {
  color: #173B45;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  color:#fff;
  background-color: #173B45;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 10px;
}

.color {
  background-color: #B43F3F;
}